/* 폰트 설정 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family:"GmarketSansMedium";
  text-underline-position: under;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}
